<?xml version="1.0"?>
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpLeaveService"/>
        <binding name="basicHttpWorkflowService"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:13619/LeaveService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpLeaveService" contract="LeaveService.ILeaveService" name="basicHttpLeaveService"/>
      <endpoint address="http://localhost:13619/LeaveWorkflowService.svc" binding="basicHttpBinding" bindingConfiguration="basicHttpWorkflowService" contract="LeaveWorkflowService.ILeaveWorkflowService" name="basicHttpWorkflowService"/>
    </client>
  </system.serviceModel>
</configuration>