<configuration>
	<appSettings>
		<add key="pageSize" value="10"/>
	</appSettings>
	<connectionStrings>
		<add name="default" connectionString="Data Source=(local);database=LeaveSample;Integrated Security=True;" providerName="System.Data.SqlClient"/>
		<add name="workflowStore" connectionString="Data Source=(local);database=WorkflowInstanceStore;Integrated Security=True;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.serviceModel>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true">
			<serviceActivations>
				<add factory="System.ServiceModel.Activation.ServiceHostFactory" relativeAddress="./LeaveService.svc" service="LeaveSample.Services.LeaveService"/>
				<add factory="System.ServiceModel.Activities.Activation.WorkflowServiceHostFactory" relativeAddress="./LeaveWorkflowService.svc" service="LeaveSample.Workflows.LeaveWorkflowService"/>
			</serviceActivations>
		</serviceHostingEnvironment>
		<services>
			<service name="LeaveSample.Services.LeaveService" behaviorConfiguration="DefaultServiceBehavior">
				<endpoint name="basicHttpLeaveService" address="" binding="basicHttpBinding" contract="LeaveSample.Services.Contracts.ILeaveService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="LeaveWorkflowService">
				<endpoint name="basicHttpWorkflowService" address="" binding="basicHttpBinding" contract="ILeaveWorkflowService"/>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="DefaultServiceBehavior">
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true. Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
				<!-- Nameless behavior is reserved for workflow services so that Windows Server Appfabric can pick it up. -->
				<behavior name="">
					<!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
					<serviceMetadata httpGetEnabled="true"/>
					<!-- To receive exception details in faults for debugging purposes, set the value below to true. Set to false before deployment to avoid disclosing exception information -->
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<sqlWorkflowInstanceStore connectionStringName="workflowStore" hostLockRenewalPeriod="00:00:30" runnableInstancesDetectionPeriod="00:00:05" instanceCompletionAction="DeleteAll" instanceLockedExceptionAction="AggressiveRetry" instanceEncodingOption="GZip"/>
					<workflowUnhandledException action="Cancel"/>
					<dataContractSerializer maxItemsInObjectGraph="2147483647"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<extensions>
			<behaviorExtensions></behaviorExtensions>
		</extensions>
		<bindings></bindings>
		<tracking>
			<profiles></profiles>
		</tracking>
	</system.serviceModel>
	<!--
		For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.5.1" />
			</system.Web>
	-->
	<system.web>
		<compilation debug="true" targetFramework="4.8"/>
		<httpRuntime targetFramework="4.5"/>
	</system.web>
</configuration>
