<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basicHttpWorkflowService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:13619/LeaveWorkflowService.svc"
                binding="basicHttpBinding" bindingConfiguration="basicHttpWorkflowService"
                contract="LeaveWorkflowService.ILeaveWorkflowService" name="basicHttpWorkflowService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
